
<div class="container-fluid page-header">
  <div class="row justify-content-md-center">
    <div class="col-1">
      <img class="angular-logo" src="../assets/images/angular.png" alt="Angular logo">
    </div>
    <div class="col-3">
      <div class="container">
        <div class="row">
          <h1>Angular Marvel Challenge</h1>
        </div>
      </div>

    </div>
    <div class="col-1">
      <img class="angular-logo" src="../assets/images/angular.png" alt="Angular logo">
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-3">
    </div>
    <div class="col-6">
      <app-characters-list></app-characters-list>
    </div>
    <div class="col-3">
      <app-comics-favorites-list style="position:fixed;"></app-comics-favorites-list>
    </div>
  </div>
</div>
